{% extends 'base.html' %}
{% block content %}
<div class='container'>
  <div class='row mx-auto justify-content-center'>
    <div class='col'>
      <h1>{{ title }}</h1>
      {% for blog in blogs  %}
          {% comment %} <a href="blog-detail/{{blog.slug}}">{{ blog.slug }}</a> {% endcomment %}
          {% comment %} <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> {% endcomment %}

          {% include 'blogs/set-inline.html' with blog_post=blog truncate=True detail=True %}
      {% endfor %}
      {% comment %} <h1>{{ request.user }}</h1>
      {{ request.path }}
      <h1>{{ user }}</h1>
      <h1>{{ user.is_authenticated }}</h1> {% endcomment %}
    </div>
  </div>
</div>
{% endblock content %}